body {
    background-color: #001B29;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-style: normal;

    color: white;
}


/* Changes to imported images */
.agent-icon-resize {
    height: 140px;
    width: 140px;
    border-radius: 100%;

    background-color: #003d5c;
    border-color: #003d5c;
    border-width: 5px;
    border-style: solid;
}

.ability-icon-resize {
    height: 70px;
    width: 70px;

    margin-top: 2px;
    margin-bottom: 2px;
}

.gun-icon-resize {
    height: auto;
    width: auto;
    max-width: 350px;
    max-height: 100px;
}

.shield-icon-resize {
    height: 120px;
    width: 120px;
}

.shield-icon-background {
    height: 140px;
    width: 140px;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #003d5c;
    border-color: #003d5c;
    border-width: 5px;
    border-style: solid;
}

.role-icon-resize {
    height: 35px;
    width: auto;
}

.phoenix-sticker-resize {
    height: 150px;
    width: 100px;
    padding-left: 10px;

    object-fit: cover;
    object-position: center;
}

.brimstone-sticker-resize {
    height: 150px;
    width: 150px;
    padding-right: 10px;
}


/* Button styles */
.role-button {
    background-color: #003d5c;
    padding: 5px;
    margin: 8px;

    border-radius: 5px;
}

.role-button-selected {
    background-color: #00293d;
    padding: 4px;
    margin: 8px;

    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #003d5c;
}

.randomize-agent-button {
    background-color: #003d5c;

    display: flex;
    justify-content: center;
    align-items: center; 

    margin: 10px;

    border-radius: 10px;
}

.randomize-agent-button:active {
    opacity: 0.5;
}

.credit-input-box {
    margin: 8px;
    width: 100%;
    max-width: 200px;
    padding: 12px 16px;
    font-size: 24px;
    color: white;
    background-color: #003d5c;
    border-radius: 8px;
    box-shadow: 0 2px 4px #001B29;
    outline: none;
    transition: all 0.3s ease;

    font-family: "Barlow Condensed", sans-serif;
}

.credit-input-box::placeholder {
  color: #a3a3a3;
}

.credit-input-box:hover {
  border-color: #a3a3a3;
}

.credit-input-box:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.15);
}


/* Container styles */
.main-div {
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
}

.randomizer-settings-div {
    background-color: #00293d;
    width: 350px;
    height: 200px;
        
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

    padding: 10px;

    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #003d5c;
}

.reroll-settings-div {
    background-color: #00293d;
    width: 350px;
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

    padding: 10px;

    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #003d5c;
}

.round-loadout-div {
    background-color: #00293d;
    height: 150px;

    display: flex;
    flex-direction: row;

    border-width: 1px;
    border-style: solid;
    border-color: #003d5c;
    border-radius: 100px;

    justify-content: center;
    align-items: center;

    padding: 10px;

    margin: 30px;
}




/* Decorative Styles */
.text-font {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;

    color: white;
}

.color1 {
    background-color: #002233;
}

.color2 {
    background-color: #00293d;
}

.color3 {
    background-color: #003047;
}

.color4 {
    background-color: #003652;
}

.color5 {
    background-color: #003d5c;
}



/* Global styles */
button {
  border: none;
  background: none;
  font-family: inherit;
  cursor: pointer;

  transition: 'background-color 0.3s ease';

  display: flex;
  justify-content: center;
  align-items: center;
}